.input {
  display: inline-block;
  position: relative;
  border: 5px solid #b3d4fc;
  background: #b3d4fc;
  border-radius: 255px 15px 225px 15px/15px 235px 5px 275px;
  font-family: "Roboto", sans-serif;
  padding: 15px 5px;
  text-align: center;
  transition: all 0.3s ease;
}

@media screen and (min-width: 600px) {
  .input {
    padding: 20px 20px;
  }
}

.input::placeholder {
  position: absolute;
  color: white;
  transition: transform 0.3s ease;
}

.input:focus {
  border-color: #1b4353;
  outline: 0;
}
.input:focus::placeholder {
  transform: translateY(-40px);
}
