.button {
  display: inline-block;
  padding: 20px;
  border-radius: 255px 15px 225px 15px/15px 235px 5px 275px;
  border: 5px solid white;
  background: transparent;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-style: italic;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:focus,
.button:hover {
  border-color: #1b4353;
  outline: 0;
}
