.button {
  display: inline-block;
  padding: 20px 0 10px 0;
  border: 0;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  font-style: italic;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:focus,
.button:hover {
  border-color: #1b4353;
  outline: 0;
}
