.toolbar {
  position: absolute;
  right: 0;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  transition: opacity 1s ease;
}

.toolbar.--faded {
  opacity: 0.3;
}

@media screen and (min-width: 800px) {
  .toolbar {
    display: none;
  }
}

.toolbar__button {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #1d70a2;
  border-radius: 50%;
  border: 0;
}

.toolbar__button-label {
  visibility: hidden;
  position: absolute;
}

.toolbar__button img {
  padding: 5px 12px;
  width: 100%;
}
