.start-drawing-form {
  margin-bottom: 20px;
}

.submitWrapper {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.submitWrapper--visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
