.draw-area {
  background: #fff;
  position: relative;
  margin: 0 auto;
  width: 90vw;
  height: 45vw;
  display: block;
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/347-200.png"), auto;

}

@media (min-width: 1200px) {
  .draw-area {
    width: 1000px;
    height: 500px;
  }
}

.drawing {
  width: 100%;
  height: 100%;
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/347-200.png"), auto;
}

.drawing__path {
  fill: none;
  stroke-width: 5px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
