.draw-area-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 700px;
}

.draw-area {
  position: relative;
  width: 100%;
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/347-200.png"), auto;
}

.drawing {
  border: 1px solid #000;
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/347-200.png"), auto;
}

.drawing__path {
  fill: none;
  stroke-width: 5px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
