.draw-area-wrapper {
  flex: 1;
  padding: 30px;
  max-width: 700px;
}

.draw-area {
  background: #fff;
  position: relative;
<<<<<<< HEAD
  margin: 0 auto;
  width: 90vw;
  height: 45vw;
  display: block;
=======
  width: 100%;
>>>>>>> bde5e0a75598ac4f8f996e8b8ae5785c3ed89e48
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/347-200.png"), auto;

}

@media (min-width: 1200px) {
  .draw-area {
    width: 1000px;
    height: 500px;
  }
}

.draw-area:after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  height: 105%;
  width: 121%;
  position: absolute;
  background-image: url('../../assets/head-bg.svg');
  z-index: -1;
}

.drawing {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
=======
>>>>>>> bde5e0a75598ac4f8f996e8b8ae5785c3ed89e48
  cursor: url("https://d30y9cdsu7xlg0.cloudfront.net/png/347-200.png"), auto;
}

.drawing__path {
  fill: none;
  stroke-width: 5px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
