.draw-area {
  background: #fff;
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 640px;
  display: block;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  .draw-area {
    width: 100%;
    max-width: 640px;
  }
}

.draw-area:after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 107%;
  height: 107%;
  position: absolute;
  background-image: url("../../assets/head-bg.svg");
  z-index: -1;
}

.draw-area__actions {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 800px) {
  .draw-area__actions {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
  }
}

.drawing {
  cursor: url("../../assets/cursor.svg"), auto;
}

.drawing__path {
  fill: none;
  stroke-width: 10px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
