.draw-area {
  background: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 640px;
  display: block;
  z-index: 1;
}
@media screen and (min-width: 800px) {
  .draw-area {
    width: 100%;
    max-width: 640px;
  }
}

.draw-area:before,
.draw-area:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
}

.draw-area.--head:after,
.draw-area.--body:after {
  top: 95%;
  left: 0;
  width: 100%;
  border-bottom: 5px dotted rgba(0, 0, 0, 0.07);
}
.draw-area.--body:before,
.draw-area.--legs:before {
  top: 5%;
  left: 0;
  width: 100%;
  border-bottom: 5px dotted rgba(0, 0, 0, 0.07);
}

.draw-area__actions {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 800px) {
  .draw-area__actions {
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
  }
}

.drawing {
  cursor: url("../../assets/cursor.svg"), auto;
}

.drawing__path {
  fill: none;
  stroke-width: 10px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}
