.section.--full-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section.--center-v {
  align-items: center;
}

.section.--center-h {
  justify-content: center;
}

.section.--center-text {
  text-align: center;
}

.block {
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  width: 100%;
}

.landing-screen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .landing-screen {
    justify-content: center;
  }
}
