html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

h1 {
  position: relative;
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -3px;
  text-align: center;
  color: #0b3b61;
  margin: 0;
}

h1.--inverted {
  color: white;
}

p.white {
  color: white;
  font-size: 14px;
  text-align: center;
}

.show-on-desktop {
  display: none;
}
@media screen and (min-width: 1040px) {
  .show-on-desktop {
    display: block;
  }
}

@media screen and (min-width: 1040px) {
  .show-on-mobile {
    display: none;
  }
}
