.toolbar-desktop {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 640px;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  transition: opacity 1s ease;
}

@media screen and (min-width: 800px) {
  .toolbar-desktop {
    display: flex;
  }
}
